<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastroCliente</title>
</head>
<body>
    <h1>Em que fase da vida você está?</h1>
    <form action="/idadeResultado" method="post">
        <label for="Idade">Coloque sua idade:</label>
        <input type="number" name="Idade" min="0">
        <input type="submit">
    </form>
    <a href="/"><button>Voltar</button></a>
</body>
</html>